body{
  background-color: red;
  text-align: center;
}

.btn-option{
  height: 600px;
  background-color: blue;
}

.btn-option h1{
  margin-top: 30px;
}

.dashed-box{
  margin: 0px;
}
.carousel-inner img {
  margin-top: 0px;
    width: 100%;
    height: 710px;

}
.main{
  position: relative;
  z-index: 1;
  height: 8em;
  margin-bottom: 1em;
  margin-top: 2em;
}
.green-box {
  margin-top: 0px;
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  background: none;
  width: 20%;
  top: -25px;
  height: 7em;
  opacity: 0.9;
}
      /* NAVIGATONC BAR */
.btn-option {
  position: absolute;
  z-index: 2; /* put .green-box above .dashed-box */
  background: red;
  color: white;
  width: 100%;
  height: 100%;
}
.text-btn-h1{
  margin-top: 50px;
}
.text-btn{
  font-weight: bolder;
  font-size: 50px;
  font-family: cursive;
  text-align: center;
  width: 20%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
hr{
  margin: 40px 100px 0px;

  border: 1px solid white;
}

.row h2{
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  margin-top: 20px;
}

#mp{
  font-size: 15px;
  font-family: serif;
}
#menu{
  margin-top: 690px;
  margin-left: 185%;
  position: absolute;
  z-index: 4; /* put .gold-box above .green-box and .dashed-box */

}

#menu1{
  margin-top: 60px;
  margin-left: auto;
}

#demo{
  margin-top: 50px;
}
.c-img{
  width: 80%;
  height: 600px;
}
.playBtn{
  position: relative;
  bottom: -15px;
}
fa { 
  padding: 20px;  
  font-size: 130px;  
  width: 150px;  
  text-align: center;  
  text-decoration: none;
}
  /* Add a hover effect if you want */
.fa:hover { 
  opacity: 0.7;
}
/* Set a specific color for each brand *//* Facebook */
.fa-facebook {  
  background: white;  
  color: white;
}

/* Twitter */
.fa-twitter {  
  background: #55ACEE;  
  color: white;
}

.carousel-caption p{
  color: #6a2c70;
  text-align: center;
  width: 1110px;
  font-size: 30px;
}
